<sb-layout-dashboard>
    <sb-dashboard-head title="Gestión Clientes" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div class="btn-group btn-group-toggle mb-4">
        <label class="btn-primary" ngbButtonLabel (click)="open(content)">
          Agregar Cliente
        </label>
    </div>
    <sb-card>
        <div class="btn-group btn-group-toggle mb-4">
            <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton> 
            Agregar Cliente
            </label>
        </div>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
            Lista de Clientes
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col" sortable="name">Dirección</th>
                        <th scope="col" sortable="area">Nombre</th>
                        <th scope="col" sortable="population">Tipo Documento</th>
                        <th scope="col" sortable="population">Documento</th>
                        <th scope="col" sortable="population">Fecha Nacimiento</th>
                        <th scope="col" sortable="population">Telefono</th>
                        <th scope="col" sortable="population">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <th scope="row">{{ client.id }}</th>
                        <td>{{ client.address }}</td>
                        <td>{{ client.firstName }} {{ client.surname }}</td>
                        <td>{{ client.documentTypeCode }}</td>
                        <td>{{ client.document }}</td>
                        <td>{{ client.dateBirth }}</td>
                        <td>{{ client.phoneNumber }}</td>
                        <td>
                            <label class="btn-primary mr-2" ngbButtonLabel (click)="open(content)">
                                Editar
                            </label>
                            <label class="btn-primary" ngbButtonLabel (click)="open(content)">
                                Eliminar
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </sb-card>
</sb-layout-dashboard>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ modalLabels.title }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientForm" (ngSubmit)="sendForm()">
        <div class="form-group">
          <div class="row">
            <div class="col-sm mb-3">
              <label for="dateOfBirth">Primer Nombre</label>
              <div class="input-group">
                <input id="firstName" name="firstName" formControlName="firstName" class="form-control" placeholder="Tu nombre">
              </div>
            </div>
            <div class="col-sm mb-3">
              <label for="dateOfBirth">Segundo Nombre</label>
              <div class="input-group">
                <input id="secondName" name="secondName" formControlName="secondName" class="form-control" placeholder="Segundo nombre">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm mb-3">
              <label for="dateOfBirth">Primer apellido</label>
              <div class="input-group">
                <input id="surname" name="surname" formControlName="surname" class="form-control" placeholder="Primer apellido">
              </div>
            </div>
            <div class="col-sm mb-3">
              <label for="dateOfBirth">Segundo Apellido</label>
              <div class="input-group">
                <input id="secondSurname" name="secondSurname" formControlName="secondSurname" class="form-control" placeholder="Segundo Apellido">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm mb-3">
              <label for="dateOfBirth">Tipo de documento</label>
              <div class="input-group">
                <select name="documentTypeId" id="documentTypeId" formControlName="documentTypeId"  class="form-control">
                  <option [value]="documentType.id" *ngFor="let documentType of documentTypes; trackBy:identify">{{ documentType.documentType }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm mb-3">
              <label for="dateOfBirth">documento</label>
              <div class="input-group">
                <input id="document" name="document" formControlName="document" class="form-control" placeholder="Tu documento">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="dateOfBirth">Fecha de Nacimiento</label>
            <div class="input-group">
              <input id="dateBirth" name="dateBirth" formControlName="dateBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm mb-3">
              <label for="dateOfBirth">Teléfono</label>
              <div class="input-group">
                <input id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="Tu Telefono">
              </div>
            </div>
            <div class="col-sm mb-3">
              <label for="dateOfBirth">Direccion</label>
              <div class="input-group">
                <input id="address" name="address" formControlName="address" class="form-control" placeholder="Tu Direccion">
              </div>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="clientForm.invalid" class="btn btn-outline-dark">
          {{ modalLabels.title}}
        </button>
      </form>
    </div>
</ng-template>