<sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header pt-4">
                        <span class="">
                            <h3 class="text-center font-weight-light">
                                <b>Reparamos</b>
                            </h3>
                            <h3 class="text-center font-weight-light">Iniciar Sesión</h3>
                        </span>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="userForm" (ngSubmit)="authUser()">
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress" >Usuario</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Usuario" formControlName="user" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputPassword">Contraseña</label>
                                <input class="form-control py-4" id="inputPassword" type="password" placeholder="Contraseña" formControlName="pwd" />
                            </div>
                            <!-- 
                                @TODO: Eliminar
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Remember password</label></div>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/auth/forgot-password">Forgot Password?</a><a class="btn btn-primary" routerLink="/dashboard">Login</a></div>
                            -->
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary" >Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                    <!-- 
                    @TODO: Eliminar    
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Need an account? Sign up!</a></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
